body {
    background-color:  rgb(17, 24, 39);
}
#check-in-success{
    z-index: 10;
}
#button-div{
    z-index: 0;
}
#number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}