body {
  background-color:  rgb(20, 24, 39);
}

#check-in-success{
  z-index: 10;
}

#button-div{
  z-index: 0;
}

#number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popup {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(45deg, #9333ea, #3b82f6);
}

img {
  pointer-events: none;
}